body{
  padding: 25px;
  background-color: lightblue;
}
.title {
	color: #5C6AC4;
	text-align: center;
}
h1{
  text-align: center;
  font-size:60px;
  
}
h2{
  font-size:30px;
}
#paragraph2{
  background-color: white;
  background-size: 300px 100px;
  border: 5px solid green;
  padding: 30px;
  line-height: 150%;
  width:700px;
  margin:20px;
  
}
.blue{
  background-color: darkblue;
  color:white;
  padding: 20px;
}
table, th, td {
  background-color:white;
  border:1px solid black;
  border-collapse:collapse;
  padding:10px;
}
th{
  background-color: lightgray;
}
p{
  a:link{color: purple;}
}
ol{
  list-style-type: decimal-leading-zero;
  a:link{color: darkblue};
}
